/**
Author - Brijesh Pandey
Git - https://bitbucket.org/__brijesh/
**/

.container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

.MuiDrawer-paper {
  width: 20% !important;
}

.lead {
  color: black;
  font-weight: 500;
  font-size: 2.4rem;
}

@media (max-width: 768px) {
  .MuiDrawer-paper {
    width: 35% !important;
  }
}