/**
Author - Brijesh Pandey
Git - https://bitbucket.org/__brijesh/
**/

.container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

.MuiDrawer-paper {
  width: 35% !important;
}

.lead {
  color: black;
  font-weight: 500;
  font-size: 2.4rem;
}

.panel-body {
  padding: 0.8rem;
  margin-top: 2rem;
}

.panel-header {
  border-bottom: 1px solid #dee2e6 ;
  padding: 0 0.5rem !important;
  display: flex;
  align-items: center;
}

.panel-title {
  font-size: 1.2rem;
  color: #48465b;
  margin: 1rem auto;
}

.footer-container {
  position: absolute;
  bottom: 5%;
  left: 40%;
}

.empty-container {
  text-align: center;
  margin-top: 5rem;
}

.empty-description {
  margin-top: 2rem;
  font-size: 1.4rem;
  font-weight: 700;
}

@media (max-width: 768px) {
  .MuiDrawer-paper {
    width: 70% !important;
  }
  .panel-body {
    padding: 0.6rem;
    margin-top: 1rem;
  }

  .footer-container {
    bottom: 8%;
    left: 20%;
  }

  .empty-description {
    font-size: 1rem;
  }
}